<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Products</title>
    <%- include('partials/header') %> 
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated fadeInDown">
                    <div class="card-body">
                        <img src="<%= image.path %>" class="card-img-top" alt="Card image cap">
                        <form action="/actualiza" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="id" class="form-control" value="<%= image._id %>">
                                <input type="text" name="product" class="form-control" value="<%= image.product %>">
                            </div>
                            <div class="input-group mb-3">
                            </div>
                            <div class="form-group">
                                <textarea name="description" class="form-control"
                                    ><%= image.description %></textarea>
                            </div>
                            <div class="form-group">
                                <input type="number" name="price" class="form-control" min="0" max="20000" value="<%= image.price %>">
                            </div>
                            <button class="btn btn-primary btn-block">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %> 