<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= image.title %></title>
    <%- include('partials/header')  %>
</head>

<body>
    <%- include('partials/navigation') %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated fadeInDown">
                    <img src="<%= image.path %>" class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= image.product %></h5>
                        <p class="card-text"><%= image.description %></p>
                        <h3 class="text-muted">S/.<%= image.price %></h3>
                        <a href="/image/<%= image._id %>/edit" class="btn btn-info">Editar</a>
                        <a href="/image/<%= image._id %>/delete" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('partials/footer')  %>