<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Products</title>
    <%- include('partials/header') %> 
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated fadeInDown">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="product" placeholder="Producto" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02"
                                        aria-describedby="inputGroupFileAddon02">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="description" class="form-control"
                                    placeholder="Description of product"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="number" name="price" class="form-control" placeholder="Price" min="0" max="20000">
                            </div>
                            <button class="btn btn-primary btn-block">Subir Producto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %> 